Repository timlinux/nixos-utils: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt-rfc-style, markdownlint, cspell, actionlint, shellcheck-scripts

nixfmt-rfc-style:
  name: 🎯 Format Nix files with nixfmt-rfc-style
  entry: nixfmt
  language: system
  args: []
  pass_filenames: true
  description: 🔧 Format Nix files using nixfmt-rfc-style for RFC compliance

markdownlint:
  name: 📝 markdownlint - Markdown linter
  entry: markdownlint --fix
  language: system
  stages:
  - pre-commit

cspell:
  name: 🔤 cspell - Spell checker for Markdown
  entry: cspell --config=.cspell.json --no-progress --no-summary
  language: system
  stages:
  - pre-commit

actionlint:
  name: 🤖 actionlint - GitHub Actions workflow linter
  entry: actionlint
  language: system
  stages:
  - pre-commit

shellcheck-scripts:
  name: 🐚 ShellCheck - scripts
  entry: shellcheck
  language: system
  pass_filenames: true

Initial package setup - added flake
  flake.lock
  flake.nix
Due: nixfmt-rfc-style

Update README
  README.md
Due: markdownlint, cspell

Adding desktop shortcut etc.
  packages/utils/default.nix
  packages/utils/img/KartozaNixOS.png
  packages/utils/img/icon.png
  packages/utils/utils.sh
Due: nixfmt-rfc-style

Cosmetic cleanups
  packages/utils/default.nix
  packages/utils/utils.sh
Due: nixfmt-rfc-style

Added utils alias to default
  flake.nix
Due: nixfmt-rfc-style

Fix nix run and add netdiscover system info menu
  flake.nix
  packages/utils/utils.sh
Due: nixfmt-rfc-style

Added helper to prepare backup drive
  packages/utils/utils.sh
Due: none

Harmonising layout with other package projects
  .cspell.json
  README.md
  backups/20250902_233312/flake.nix
  backups/20250902_233312/prompt.sh
  img/KartozaNixOS.png
  packages/default.nix
  packages/utils/README.md
  packages/utils/default.nix
  setup-package.sh
  utils/develop.nix
  utils/prompt.sh
Due: nixfmt-rfc-style, markdownlint, cspell, shellcheck-scripts

Update to include nvim
  .nvim/PLUGIN-SUMMARY.md
  .nvim/README.md
  .nvim/check-plugins.fish
  .nvim/init.lua
  .nvim/lua/config/autocmds.lua
  .nvim/lua/config/keymaps.lua
  .nvim/lua/config/options.lua
  .nvim/lua/plugins/aerial.lua
  .nvim/lua/plugins/autopairs.lua
  .nvim/lua/plugins/black.lua
  .nvim/lua/plugins/colorscheme.lua
  .nvim/lua/plugins/completion.lua
  .nvim/lua/plugins/copilot.lua
  .nvim/lua/plugins/dashboard.lua
  .nvim/lua/plugins/debug.lua
  .nvim/lua/plugins/formatter.lua
  .nvim/lua/plugins/gitsigns.lua
  .nvim/lua/plugins/icons.lua
  .nvim/lua/plugins/linting.lua
  .nvim/lua/plugins/linting_new.lua
  .nvim/lua/plugins/lsp.lua
  .nvim/lua/plugins/lualine.lua
  .nvim/lua/plugins/nvim-tree.lua
  .nvim/lua/plugins/project.lua
  .nvim/lua/plugins/telescope.lua
  .nvim/lua/plugins/testing.lua
  .nvim/lua/plugins/treesitter.lua
  .nvim/lua/plugins/utils.lua
  .nvim/lua/utils/tool_detection.lua
  .nvim/nvim.sh
  .nvim/setup.sh
  .nvim/test-config.fish
  .nvim/test-config.lua
  .nvim/verify.fish
  .nvim/vim
  backups/20250902_233312/flake.nix
  backups/20250902_233312/prompt.sh
  flake.lock
  flake.nix
  utils/develop.nix
Due: nixfmt-rfc-style, markdownlint, cspell

Fix package path and use nativeBuildInputs for makeWrapper
  flake.nix
  packages/utils/default.nix
Due: nixfmt-rfc-style

chore: apply tailor for consistent repo configuration
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/tailor.yml
  .tailor/config.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
  SUPPORT.md
  justfile
Due: markdownlint, cspell, actionlint

Path conditions:
  nixfmt-rfc-style: any of: \.nix$
  markdownlint: any of: \.(md|markdown|mdown)$
  cspell: any of: \.(md|markdown|mdown)$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$ and \.(yaml|yml)$
  shellcheck-scripts: any of: ^utils/.*\.(sh|bash|zsh)$
